html {
  color:whitesmoke;
  font-family: "Helvetica";
  background: rgb(246, 176, 0);
  font-size:25px;
}

button {
  background:dodgerblue;
  color: whitesmoke;
  border-radius:30px;
  border-width:1px;
  border-style: none;
  font-size:12px;
  height: 23px;
  margin-top:0px;
  padding-top:0px;
}

.UI {
display: flex;
justify-content: center;
align-items: center;
height: 200px;
}
.text {
position: relative;
display: flex;
justify-content: center;
align-items: center;
font-size:18px;
opacity: 60%;
top: -80px

}
.image {
display: flex;
justify-content: center;
align-items: center;
}

